@charset "UTF-8";
/*--------------------- Спецификация ---------------------*/
body {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff; }

@media (min-width: 360px) {
  .container {
    max-width: 1555px; } }

p {
  margin: 0; }

.row a {
  text-decoration: none;
  list-style: none; }

/*--------------------- Хедр ---------------------*/
.head {
  background-color: #323e57;
  padding: 15px; }

.head__text__adres {
  color: #6f81a7;
  font-weight: 550; }
  @media screen and (max-width: 576px) {
    .head__text__adres {
      text-align: center; } }

.head__text__numbercok__two {
  color: #6f81a7;
  font-size: 14px;
  font-weight: 500;
  text-align: right; }
  @media screen and (max-width: 576px) {
    .head__text__numbercok__two {
      text-align: center; } }

.acst {
  color: #6f81a7;
  font-size: 14px;
  font-weight: 600; }

.acst:hover {
  color: #5d709b;
  text-decoration: none; }

/*--------------------- header ---------------------*/
.header__block__two {
  padding: 35px 0px 35px 0px; }

.header__number {
  font-size: 24px;
  color: #000;
  font-weight: 550;
  text-align: right; }
  @media screen and (max-width: 1510px) {
    .header__number {
      font-size: 18px; } }

.header__mail {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-align: right; }
  @media screen and (max-width: 380px) {
    .header__mail {
      margin-bottom: 15px; } }
  @media screen and (max-width: 320px) {
    .header__mail {
      margin-bottom: 15px; } }
  @media screen and (max-width: 365px) {
    .header__mail {
      margin-bottom: 15px; } }

.button__zayavka {
  color: #2e3f62;
  border: 1px #2e3f62 solid;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  padding: 0px 15px;
  width: 100%; }

.button__zayavka a {
  display: block;
  color: #2e3f62;
  line-height: 44px;
  white-space: nowrap; }

.button__system__edo {
  color: #2e3f62;
  border: 1px #2e3f62 solid;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  background-color: #2e3f62;
  padding: 0 15px;
  width: 100%; }

.button__system__edo a {
  display: block;
  color: #fff;
  white-space: nowrap;
  line-height: 44px; }

.button__system__edo:hover {
  background-color: #3c4f79; }

.button__system__edo:active {
  background-color: #223252; }

/*--------------------- Footer ---------------------*/
.footer__box {
  background-color: #3d4962;
  padding: 45px 0px 45px 0px; }

.logo__gray {
  margin-bottom: 20px; }

@media screen and (max-width: 320px) {
  .sasp__logo__gray {
    width: 223px;
    height: 79px;
    display: none; } }

.sasp__logo__gray__two {
  display: none; }

@media screen and (max-width: 320px) {
  .sasp__logo__gray__two {
    display: block;
    margin-top: 25px; } }

@media screen and (max-width: 320px) {
  .line__footer__two {
    border-bottom: 1px #6f81a7 solid;
    width: 100%; } }

.logo__gray__text {
  text-transform: uppercase;
  font-size: 18px;
  color: #6f81a7; }
  @media screen and (max-width: 320px) {
    .logo__gray__text {
      font-size: 14px; } }

.footer__text__left {
  color: #6f81a7;
  font-size: 12px;
  margin-bottom: 25px;
  font-weight: 500; }

.line__footer {
  border-bottom: 1px #6f81a7 solid;
  margin-bottom: 25px;
  width: 100%; }

.menu__footer li {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 0px 10px;
  line-height: 3; }
  @media screen and (max-width: 1400px) {
    .menu__footer li {
      padding: 10px 0px 0px 0px;
      line-height: 2; } }

.menu__footer li:hover {
  color: #e0e0e0; }

.basement__footer {
  background-color: #323e57;
  padding: 15px 0px 15px 0px; }

.basement__text {
  color: #6f81a7;
  font-size: 12px;
  font-weight: 400; }

.political__konf {
  font-size: 12px;
  color: #6f81a7;
  font-weight: 500; }

.naks__media__logo {
  margin-left: 25px; }

.razrabotano__basement__footer {
  text-align: right; }
  @media screen and (max-width: 320px) {
    .razrabotano__basement__footer {
      text-align: center; } }

.razrabotano__v__naks__media {
  font-size: 12px;
  font-weight: 500;
  color: #6f81a7; }

.footer__number {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px; }

.footer__mail {
  font-size: 16px;
  color: #6f81a7;
  margin-bottom: 15px; }

.footer__adres {
  font-size: 12px;
  color: #6f81a7;
  font-weight: 500;
  margin-bottom: 10px; }

.adres__on__map {
  margin-bottom: 25px; }

.adres__on__map a {
  color: #8fa0c4;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline; }

.button__zayavka__footer {
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  background-color: #8a9abd;
  padding: 0px 15px;
  margin-bottom: 25px; }

.button__zayavka__footer a {
  display: block;
  color: #ffffff;
  line-height: 44px;
  white-space: nowrap; }

.button__zayavka__footer:hover {
  background-color: #788aaf;
  color: #fff; }

.button__zayavka__footer:active {
  background-color: #61759c;
  color: #fff; }

/*--------------------- БГ + информация ---------------------*/
.sasp__logo {
  margin-bottom: 25px;
  font-size: 16px; }
  @media screen and (max-width: 480px) {
    .sasp__logo {
      width: 300px;
      height: 85px; } }
  @media screen and (max-width: 768px) {
    .sasp__logo {
      width: 300px;
      height: 85px; } }
  @media screen and (max-width: 320px) {
    .sasp__logo {
      width: 300px;
      height: 85px;
      display: none; } }

.sasp__text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  float: right; }

.bg-block-01 {
  background: url(../img/background.png) no-repeat;
  width: 100%;
  background-size: cover; }

.bg {
  background: url(../img/gradient.png) no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%; }

.blog-info {
  padding: 60px 0px 60px 0px; }

.about__organization__text {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px; }
  @media screen and (max-width: 320px) {
    .about__organization__text {
      font-size: 25px; } }

.about__organization__text__two {
  font-size: 16px;
  margin-bottom: 30px; }
  @media screen and (max-width: 320px) {
    .about__organization__text__two {
      font-size: 16px; } }

.button__zayavka__online {
  background-color: #ff5d5d;
  border-radius: 3px;
  text-align: center;
  border: none;
  display: block;
  width: 45%; }
  @media screen and (max-width: 1400px) {
    .button__zayavka__online {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .button__zayavka__online {
      width: 100%; } }
  @media screen and (max-width: 990px) {
    .button__zayavka__online {
      margin-bottom: 15px; } }
  @media screen and (max-width: 480px) {
    .button__zayavka__online {
      margin-bottom: 0px; } }
  @media screen and (max-width: 320px) {
    .button__zayavka__online {
      margin-bottom: 15px; } }
  @media screen and (max-width: 425px) {
    .button__zayavka__online {
      margin-bottom: 15px; } }

.button__zayavka__online a {
  display: block;
  padding: 15px; }

.button__zayavka__online:hover {
  background-color: #e63838;
  transition: 0.3s; }

.button__zayavka__text {
  color: #fff;
  display: block;
  font-size: 16px;
  text-transform: uppercase; }
  @media screen and (max-width: 320px) {
    .button__zayavka__text {
      font-size: 12px; } }

.button__zayavka__text:hover {
  text-decoration: none;
  color: #fff; }

.button__zayavka__text:active {
  background-color: #c92525;
  border-radius: 3px; }

/*--------------------- Фон + информация правая сторона ---------------------*/
.head__information {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px; }
  @media screen and (max-width: 375px) {
    .head__information {
      text-align: center; } }
  @media screen and (max-width: 320px) {
    .head__information {
      text-align: center; } }
  @media screen and (max-width: 425px) {
    .head__information {
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .head__information {
      text-align: center; } }

.box__service {
  background-color: #465f92;
  padding: 25px; }
  .box__service a {
    font-size: 20px;
    color: #fff; }

.button__uslugi {
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  width: 35%;
  margin-top: 60px; }
  @media screen and (max-width: 1600px) {
    .button__uslugi {
      width: 100%; } }

.button__ob_uslugax__text {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  text-align: center;
  padding: 14px; }

.button__ob_uslugax__text a {
  text-decoration: none; }

.button__ob_uslugax__text:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff; }

.button__ob_uslugax__text:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff; }

.section__header {
  font-size: 30px;
  font-weight: 200;
  color: #000;
  margin-bottom: 15px;
  margin-top: 50px; }

.section__header__two {
  font-size: 30px;
  font-weight: 200;
  color: #000;
  margin-bottom: 15px; }

.line__section {
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
  width: 50px; }

.box__news__content {
  padding: 40px;
  background-color: #f8f8f8;
  margin-bottom: 40px; }

.news__naks__tag {
  font-size: 14px;
  color: #1a2a4a;
  margin-bottom: 20px; }

.date__news {
  font-size: 14px;
  color: #999999; }

.text__content__news {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 15px; }

.text__content__news:hover {
  color: #244485;
  transition: 0.2s;
  margin-left: 15px; }

.text__two__content__news {
  font-size: 14px;
  color: #999999;
  font-weight: 400; }

.info-icon {
  margin-right: 5px; }

.link__profstandarti {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  border: 1px solid #bebebe;
  padding: 10px 15px; }
  @media screen and (max-width: 630px) {
    .link__profstandarti {
      display: none; } }

.link__profstandarti:hover {
  background-color: #f7f7f7; }

.info-icon {
  margin-right: 5px; }

.link__profstandarti__mob {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  border: 1px solid #bebebe;
  padding: 10px 15px;
  display: none;
  margin-bottom: 25px;
  text-align: center; }
  @media screen and (max-width: 630px) {
    .link__profstandarti__mob {
      display: block; } }

.link__profstandarti:hover {
  background-color: #f7f7f7; }

.button__list {
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #000;
  font-weight: 300;
  box-shadow: none;
  cursor: pointer;
  outline: none; }

.button__list:focus {
  box-shadow: none;
  outline: none; }

.button__list:hover {
  margin-left: 10px;
  transition: 0.2s; }

.card {
  border: none;
  margin-bottom: 50px; }

.card-header {
  background-color: #fcfcfc;
  outline: none;
  padding: 25px;
  border-bottom: 2px solid #7191d7;
  cursor: pointer; }

.card-header:hover {
  background-color: #f3f3f3; }

.card-body {
  background-color: #fcfcfc;
  border-bottom: 2px solid #dbe6ff;
  padding: 30px;
  font-size: 16px;
  color: #000; }

.text__link {
  border-bottom: 1px dashed;
  font-size: 18px;
  color: #0173c1;
  font-weight: 400;
  line-height: 2;
  align-content: left; }
  @media screen and (max-width: 576px) {
    .text__link {
      font-size: 16px; } }
  @media screen and (max-width: 320px) {
    .text__link {
      font-size: 14px; } }

.box__text__link {
  margin-left: 10px; }

.text__link:hover {
  margin-left: 10px;
  transition: 0.2s; }

.card__body__header__text {
  font-size: 18px;
  color: #000;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px; }

.arrow__list {
  margin: 0;
  float: right;
  display: block;
  margin-top: 15px; }
  @media screen and (max-width: 320px) {
    .arrow__list {
      display: none; } }
  @media screen and (max-width: 576px) {
    .arrow__list {
      display: none; } }

.card__name {
  font-size: 20px;
  color: #000;
  font-weight: 500; }

.card__perechen__doc {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 15px; }

.line__text {
  border-bottom: 2px solid #7191d7;
  margin-top: 15px;
  margin-bottom: 15px; }

.box__news__two {
  width: 45%; }

.news__content__small {
  font-size: 18px;
  font-weight: 450;
  color: #000; }

.menu__background {
  background-color: #2e3f62;
  padding: 15px 0px 15px 0px; }

.nav-item {
  padding: 0px;
  margin: 0px; }

.navbar {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 0px; }

.menu__navbar ul {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  justify-content: space-between; }
  @media screen and (max-width: 992px) {
    .menu__navbar ul {
      margin-top: 15px;
      margin-bottom: 15px; } }

.menu__navbar .navbar {
  padding: 0; }

.menu__navbar .navbar li {
  cursor: pointer; }

.menu__navbar .navbar .nav-item .nav-link {
  padding: 0; }

.menu__navbar .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  margin-right: 15px; }

.menu__navbar .navbar .nav-item .nav__link__two {
  margin: 0px 20px 0px 20px; }
  @media screen and (max-width: 992px) {
    .menu__navbar .navbar .nav-item .nav__link__two {
      padding: 0px 0px 15px;
      font-weight: 200;
      line-height: 3; } }

.navbar-dark .navbar-nav .nav-link .navbar-dark .navbar-nav .nav-link:hover {
  color: white; }

.dropdown-menu {
  margin-top: 20px;
  border-radius: 0px;
  color: #fff; }
  @media screen and (max-width: 320px) {
    .dropdown-menu {
      font-size: 12px;
      color: #fff; } }

.dropdown-item.active,
.dropdown-item:active {
  background-color: #4b505c; }

.navbar-dark .navbar-toggler {
  border-color: #fff; }

.form-control {
  background-color: transparent;
  float: right; }

.form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: #ffffff;
  outline: 0;
  box-shadow: none; }

input[type="search"]::-webkit-input-placeholder {
  color: #fff; }

input[type="search"]:-ms-input-placeholder {
  color: #fff; }

input[type="search"]::-ms-input-placeholder {
  color: #fff; }

input[type="search"]::placeholder {
  color: #fff; }

.form-control:focus::-webkit-input-placeholder {
  color: transparent; }

.form-control:focus::-moz-placeholder {
  color: transparent; }

.form-control:focus:-moz-placeholder {
  color: transparent; }

.form-control:focus:-ms-input-placeholder {
  color: transparent; }

@media screen and (max-width: 320px) {
  .header__logo__center {
    width: 230px;
    height: 45px; } }

.header__buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1500px) {
    .header__buttons-container {
      margin: 0px;
      margin-top: 15px; } }

@media screen and (max-width: 1300px) {
  .logo__block {
    display: none; } }

@media screen and (max-width: 995px) {
  .logo__block {
    display: block; } }

@media screen and (max-width: 995px) {
  .logo__block {
    display: flex;
    justify-content: space-between; } }

@media screen and (max-width: 1055px) {
  .block__obl__proff {
    display: inline;
    flex-flow: row wrap;
    justify-content: space-between; } }

@media screen and (max-width: 480px) {
  .info__number__atestat__block {
    display: none; } }

@media screen and (max-width: 480px) {
  .info__text__right {
    display: none; } }

@media screen and (max-width: 480px) {
  .basement__footer {
    text-align: center; } }

@media screen and (max-width: 480px) {
  .naks__media__logo {
    display: none; } }

@media screen and (max-width: 480px) {
  .razrabotano__v__naks__media {
    right: 0; } }

@media screen and (max-width: 320px) {
  .menu__footer {
    padding: 0;
    margin: 0;
    margin-bottom: 25px; } }

@media screen and (max-width: 992px) {
  .menu__footer {
    padding: 0;
    margin: 0;
    margin-bottom: 25px; } }
