/*--------------------- Спецификация ---------------------*/

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
}

@media (min-width: 360px) {
    .container {
        max-width: 1555px;
    }
}

p {
    margin: 0;
}

.row a {
    text-decoration: none;
    list-style: none;
}

/*--------------------- Хедр ---------------------*/


.head {
    background-color: #323e57;
    padding: 15px;
}

.head__text__adres {
    color: #6f81a7;
    font-weight: 550;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.head__text__numbercok__two {
    color: #6f81a7;
    font-size: 14px;
    font-weight: 500;
    text-align: right;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.acst {
    color: #6f81a7;
    font-size: 14px;
    font-weight: 600;
}

.acst:hover {
    color: #5d709b;
    text-decoration: none;
}


/*--------------------- header ---------------------*/


.header__block__two {
    padding: 35px 0px 35px 0px;
}

.header__number {
    font-size: 24px;
    color: #000;
    font-weight: 550;

    @media screen and (max-width: 1510px) {
        font-size: 18px;
    }
}

.header__mail {
    font-size: 14px;
    color: #000;
    font-weight: 400;

    @media screen and (max-width: 380px) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 320px) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 365px) {
        margin-bottom: 15px;
    }

}

.button__zayavka {
    color: #2e3f62;
    border: 1px #2e3f62 solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    padding: 0px 15px;

    @media screen and (max-width: 1535px) {
        flex: 1 1;
        margin: 0px 0px 10px;
    }

    @media screen and (max-width : 1200px) {
        flex: 1 1;
        margin: 0px;
        margin-right: 15px;
    }

    @media only screen and (max-width : 380px) {
        margin-right: 0;
    }

    @media only screen and (max-width : 320px) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    @media screen and (max-width: 360px) {
        margin-bottom: 15px;
    }

}

.button__zayavka a {
    display: block;    
    color: #2e3f62;
    line-height: 44px;
    white-space: nowrap;
}

.button__system__edo {
    color: #2e3f62;
    border: 1px #2e3f62 solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background-color: #2e3f62;
    padding: 0 15px;

    @media screen and (max-width: 1535px) {
        flex: 1 1;
    }

}

.button__system__edo a {
    display: block;
    color: #fff;
    white-space: nowrap;
    line-height: 44px;
}

.button__system__edo:hover {
    background-color: #3c4f79
}

.button__system__edo:active {
    background-color: #223252
}

/*--------------------- Footer ---------------------*/

.footer__box {
    background-color: #3d4962;
    padding: 45px 0px 45px 0px;
}

.logo__gray {
    margin-bottom: 20px;
}

.sasp__logo__gray {
    @media screen and (max-width: 320px) {
        width: 223px;
        height: 79px;
        display: none;
    }
}

.sasp__logo__gray__two {
    display: none;
}

.sasp__logo__gray__two {
    @media screen and (max-width: 320px) {
        display: block;
        margin-top: 25px;
    }
}

.line__footer__two {
    @media screen and (max-width: 320px) {
        border-bottom: 1px #6f81a7 solid;
        width: 100%;
    }
}

.logo__gray__text {
    text-transform: uppercase;
    font-size: 18px;
    color: #6f81a7;
    @media screen and (max-width: 320px) {
        font-size: 14px;
    }

}

.footer__text__left {
    color: #6f81a7;
    font-size: 12px;
    margin-bottom: 25px;
    font-weight: 500;
}

.line__footer {
    border-bottom: 1px #6f81a7 solid;
    margin-bottom: 25px;
    width: 100%;
}

.menu__footer li {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 10px;
    line-height: 3;

    @media screen and (max-width: 1400px) {
        padding: 10px 0px 0px 0px;
        line-height: 2;
    }
}

.menu__footer li:hover {
    color: #e0e0e0;
}

.basement__footer {
    background-color: #323e57;
    padding: 15px 0px 15px 0px;
}

.basement__text {
    color: #6f81a7;
    font-size: 12px;
    font-weight: 400;
}


.political__konf {
    font-size: 12px;
    color: #6f81a7;
    font-weight: 500;
}

.naks__media__logo {
    margin-left: 25px;
}

.razrabotano__basement__footer{
    text-align: right;
    @media screen and (max-width: 320px) {
        text-align: center;
    }
}

.razrabotano__v__naks__media {
    font-size: 12px;
    font-weight: 500;
    color: #6f81a7;  
}


.footer__number {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer__mail {
    font-size: 16px;
    color: #6f81a7;
    margin-bottom: 15px;
}

.footer__adres {
    font-size: 12px;
    color: #6f81a7;
    font-weight: 500;
    margin-bottom: 10px;
}

.adres__on__map {
    margin-bottom: 25px;    
}

.adres__on__map a {
    color: #8fa0c4;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}


.button__zayavka__footer {
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background-color: #8a9abd;
    padding: 0px 15px;
    margin-bottom: 25px;
}

.button__zayavka__footer a {
    display: block;
    color: #ffffff;
    line-height: 44px;
    white-space: nowrap;
}

.button__zayavka__footer:hover {
    background-color: #788aaf;
    color: #fff;
}

.button__zayavka__footer:active {
    background-color: #61759c;
    color: #fff;
}


